<div class="homeDiv">
  <div class="ui inverted fixed icon menu right">    
    
    <div class="item ui dropdown config right"> <i class="big icon fa fa-users"></i>
      <div class="ui right menu">
        <div class="header">Documentación </div>
        <a class="item" href="" target="_blank"> Link de la documentación </a>
        <div class="header">Profesor</div>
        <a class="item" href="https://www.facebook.com/saul.calderonramirez"> Saúl Calderón Ramírez</a>
        <div class="header">Estudiantes </div>
        <a class="item" href="https://www.facebook.com/carlos.giron.752"> Carlos Girón </a>
        <a class="item" href="https://www.facebook.com/menoc.sk27"> Julián Méndez </a>
        <a class="item" href="https://www.facebook.com/daniel.troyo.1"> Daniel Troyo </a>
      </div>
    </div>
  </div>

  <div class="ui icon infoIcon"> <i class="big icon fa fa-info-circle"></i></div>

</div>
