<div class="homeDiv">
  <div class="ui inverted vertical fixed icon menu">    
    <!-- Configuración y documentación --> 
    <div class="ui left inverted pointing dropdown link item config">
      <i class="big icon user"></i>
      
      <div class="ui menu">
        <div class="header">Documentación </div>
        <a class="item" href="" target="_blank"> Link de la documentación </a>
        <div class="header">Profesor</div>
        <a class="item" href="https://www.facebook.com/saul.calderonramirez"> Saúl Calderón Ramírez</a>
        <div class="header">Estudiantes </div>
        <a class="item" href="https://www.facebook.com/carlos.giron.752"> Carlos Girón </a>
        <a class="item" href="https://www.facebook.com/menoc.sk27"> Julián Méndez </a>
        <a class="item" href="https://www.facebook.com/daniel.troyo.1"> Daniel Troyo </a>
      </div>

    </div>

    <div id="uploadVideoDiv" class="item ui uploadIcon down"> 
      <i class="big icon upload"></i>  
    </div>

  
    <div ng-show="false">
      <input type="file" id="selectVideoInput" name="file" ngf-select="uploadVideo($file, $invalidFiles)" accept="image/*"/>
    </div>

  </div>
  <div class="ui icon infoIcon" data-position="top left" data-inverted=""> <i class="big icon info circle"></i></div>

  <div class="videoDiv">
  <video  width="500" controls>
  <source src="assets/temp/Dissolve1-15.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
  </video>
  </div>

</div>
