body {
    overflow-x: hidden;
    background: none;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    color: rgba(0,0,0,0);
}

#trans {
    background-color: rgba(0,0,0,0.1);
}